@media screen and (max-width: 768px) {

#menu {
  float: right;
  width: 1.5em;
  height: 1.5em;
  display: block;
  background: orange;
  font-size: 2.5em;
  text-align: center;
}
                        #nav-bar { /* ul / * */
                            height: 100vh;
                        }
  #nav-bar.js {
    background-color: orange;
    display: none;
  }
      #nav-bar ul {
        width: 100%;
        margin-bottom: 5em;
        list-style: none;
      }
        #nav-bar li {
          width: 100%;
          border-right: none;
        }
}

@media screen and (min-width: 768px) {
  #menu {
    display: none;
  }
}
