#nav-bar { /* ul / * */
    width:100%;

    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    height: 100vh;
}
  #nav-bar li { /* li */
    width:24.8%;
    float:left;
    border-right: 1px solid #eee;

  }
    #nav-bar li:last-child { /* last-child */
      border-right:none;
    }

      #nav-bar li a { /* li a */
        margin: 0 auto;

        display: block;
        width: 100%;
        background:orange;
        padding:4% 10%;
        font-size:1.35em;
        text-decoration: none;
      }
